<table class="ui selectable green table">
  <thead>
    <tr><th>Ticker</th>
    <th>Company Name</th>
    <th>Price</th>
    <th>52 week low</th>
    <th>52 week high</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>

      <% @my_portfolio.each do |stock| %>
        <tr>
          <td><%= stock.ticker %></td>
          <td><%= stock.name %></td>
          <td><%= stock.last_price %></td>
          <td>0</td>
          <td>0.1</td>
          <td>
            <% if @user.id == current_user.id %>
              <%= link_to 'Remove', user_stock_path(stock), method: :delete, data: {confirm: 'Are you sure?'}, class: 'ui yellow button'%>
            <% end %>
            <% if current_user.can_track_stock?(stock.ticker) %>
              <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: stock.ticker), method: :post, class: "ui button" %>
            <% elsif @user.id != current_user.id %>
              <span class="badge">You are already tracking 
              <% if !current_user.under_stock_limit? %>
                10 stocks
              <% end %>
              <% if current_user.stock_already_tracked?(stock.ticker) %>
                this stock
              <% end %>
              </span>
            <% end %>
          </td>
        </tr>

      <% end %>
  </tbody>
</table>