<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="results-block ui raised segment">
    <strong>Stock info:</strong> <%= @stock.symbol %>
    <strong>Stock price:</strong> $<%= @stock.latest_price %>
    <strong>Company name:</strong> <%= @stock.company_name %>
    <strong>52 week high:</strong> $<%= @stock.week_52_high %>
    <% if current_user.can_track_stock?(@stock.symbol) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.symbol), method: :post, class: "ui button" %>
    <% else %>
      <span class="badge">You are already tracking 
      <% if !current_user.under_stock_limit? %>
        10 stocks
      <% end %>
      <% if current_user.stock_already_tracked?(@stock.symbol) %>
        this stock
      <% end %>
      </span>
    <% end %>
  </div>
<% end %>