<div class="ui fixed inverted blue menu">
  <div class="ui container">
    <%= link_to "TrackerApp", root_path , class:"ui large header item" %>
    <% if current_user %>
      <%= link_to "My portfolio", my_portfolio_path, {class: request.path == my_portfolio_path ? "item active" : "item"} %>
      <%= link_to "My Friends", my_friends_path, {class: request.path == my_friends_path ? "item active" : "item"} %>
      <div class="right menu">
        <div class="ui dropdown item">
          <i class="user icon"></i>
          <%= current_user.full_name %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <i class="edit outline icon"></i>
            <%= link_to edit_user_registration_path, class: "item" do %>
              <i class="edit outline icon"></i>
              Edit Profile
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
              <i class="sign-out icon"></i>
              Sign out
            <% end %>
            
          </div>
          
        </div>
        
      </div>
    <% end %>
    </div>
  </div>
</div>